.inputText {
  font-family: var(--inter-font);
  display: block;
  padding: 12px 16px;
  border-radius: var(--radius-md);
  border: 1px solid var(--border-neutral-300);
  box-shadow: var(--shadow-sm);
  color: var(--text-neutral-900);
  width: 100%;
  @include text-base;
}

.inputSelect {
  font-family: var(--inter-font);
  display: block;
  padding: 12px 16px;
  border-radius: var(--radius-md);
  border: 1px solid var(--border-neutral-300);
  box-shadow: var(--shadow-sm);
  background-position: calc(100% - 12px);
  color: var(--text-neutral-900);
  width: 100%;
  @include text-base;
}

.inputTextarea {
  font-family: var(--inter-font);
  display: block;
  padding: 12px 16px;
  border-radius: var(--radius-md);
  border: 1px solid var(--border-neutral-300);
  box-shadow: var(--shadow-sm);
  color: var(--text-neutral-900);
  width: 100%;
  @include text-base;
}

.inputLabel {
  font-family: var(--inter-font);
  font-weight: 500;
  display: block;
  @include text-sm;
  color: var(--text-neutral-900);
  margin-bottom: 4px;
}

.buttonPrimary {
  font-family: var(--inter-font);
  font-weight: 500;
  @include text-base;
  padding: 12px 24px;
  border-radius: var(--radius-md);
  background-color: var(--bg-primary-600);
  color: #ffffff;

  &:hover {
    background-color: var(--bg-primary-700);
  }

  &:focus-visible {
    outline: none;
    box-shadow: #fff 0px 0px 0px 2px, var(--border-primary-600) 0px 0px 0px 4px;
  }
}