// text styles
@mixin text-sm {
    // 14px
    font-size: var(--text-sm);
    // 20px
    line-height: var(--leading-5);
}

@mixin text-base {
    // 16px
    font-size: var(--text-base);
    // 24px
    line-height: var(--leading-6);
}

@mixin text-lg {
    // 18px
    font-size: var(--text-lg);
    // 28px
    line-height: var(--leading-7);
}

@mixin text-xl {
    // 20px
    font-size: var(--text-xl);
    // 28px
    line-height: var(--leading-7);
}

@mixin text-2xl {
    // 24px
    font-size: var(--text-2xl);
    // 32px
    line-height: var(--leading-8);
}

@mixin text-3xl {
    // 30px
    font-size: var(--text-3xl);
    // 36px
    line-height: var(--leading-9);
}

@mixin text-4xl {
    // 36px
    font-size: var(--text-4xl);
    // 40px
    line-height: var(--leading-10);
}

@mixin text-5xl {
    // 48px
    font-size: var(--text-5xl);
    // 1
    line-height: var(--leading-none);
}

@mixin text-6xl {
    // 60px
    font-size: var(--text-6xl);
    // 1
    line-height: var(--leading-none);
}