.textWhite {
  color: #fff;
}

.textPrimary100 {
  color: var(--text-primary-100);
}

.textAlignRight {
  text-align: right;
}

.textAlignLeft {
  text-align: left;
}

.maxWidth660 {
  max-width: 660px;
}

.maxWidth920 {
  max-width: 920px;
}

.marginBottom40 {
  margin-bottom: 40px;
}

.marginBottom96 {
  margin-bottom: 96px;
}