@import "partials/mixins";

.footer {
  background-color: var(--bg-neutral-900);
}

.footerInner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @media only screen and (min-width: 1024px) {
    max-width: 80rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footerInnerInnerTop {
  @media only screen and (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 2rem;
  }
}

.footerInnerInnerTopContact {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media only screen and (min-width: 1280px) {
    grid-column: span 1/span 1;
  }
}

.footerInnerInnerTopContactParagraph {
  font-family: var(--inter-font);
  @include text-base;
  color: var(--text-neutral-300);
}

.footerInnerInnerTopContactMeta {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footerInnerInnerTopContactMetaItem {
  font-family: var(--inter-font);
  @include text-base;
  color: var(--text-neutral-300);

  display: flex;
  gap: 12px;
  align-items: center;
}

.footerInnerInnerTopContactMetaIcon {
  width: 24px;
  height: 24px;
  color: var(--text-neutral-400);
}

.footerInnerInnerTopLinks {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 2rem;

  @media only screen and (min-width: 1280px) {
    grid-column: span 2/span 2;
    margin-top: 0;    
  }
}

.footerInnerInnerTopLinksColumn {
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 2rem;
  }
}

.footerInnerInnerTopLinksColumnInnerLast {
  margin-top: 3rem;

  @media only screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.footerInnerInnerTopLinksColumnHeader {
  font-family: var(--inter-font);
  font-weight: 600;
  @include text-sm;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: var(--text-neutral-400);
}

.footerInnerInnerTopLinksColumnList {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footerInnerInnerTopLinksColumnLink {
  font-family: var(--inter-font);
  text-decoration: inherit;
  @include text-base;
  color: var(--text-neutral-300);

  &:hover {
    color:#fff;
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--bg-neutral-900) 0px 0px 0px 2px,  var(--text-neutral-300) 0px 0px 0px 4px;
  }
}

.footerInnerInnerBottom {
  margin-top: 3rem;
  border-top: 1px solid var(--border-neutral-700);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.footerInnerInnerBottomText {
  font-family: var(--inter-font);
  @include text-base;
  color: var(--text-neutral-400);
}

.footerInnerInnerBottomSocial {
  display: flex;
  gap: 24px;
}

.footerInnerInnerBottomSocialLink {
  color: var(--text-neutral-400);

  &:hover {
    color:#fff;
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--bg-neutral-900) 0px 0px 0px 2px,  var(--text-neutral-300) 0px 0px 0px 4px;
  }
}

.footerInnerInnerBottomSocialIcon {
  display: block;
  width: 24px;
  height: 24px;
}